In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

import warnings
warnings.filterwarnings('ignore')

In [33]:
data = pd.read_csv('./Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [34]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [35]:
## Encode categorical variable
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [36]:
## One Hot Encode 'Geography'
from sklearn.preprocessing import OneHotEncoder
one_encoder = OneHotEncoder()
geo_encoded = one_encoder.fit_transform(data[['Geography']])
geo_encoder_df = pd.DataFrame(geo_encoded.toarray(), columns=one_encoder.get_feature_names_out(['Geography']))

In [37]:
## Combine all columns with the original data
data = pd.concat([data.drop(['Geography'], axis=1), geo_encoder_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [38]:
## ivide the Dataset into independent and dependent features
X = data.drop(['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']

## Split in training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
## Save the encoders and Scalar

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('one_encoder.pkl', 'wb') as file:
    pickle.dump(one_encoder, file)

In [40]:
# Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [41]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN with Regression

In [42]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [43]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # O/P layer (by default linear activation is used)
])

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [44]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [45]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [46]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 100368.5469 - mae: 100368.5469 - val_loss: 98488.1562 - val_mae: 98488.1562
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99557.2891 - mae: 99557.2891 - val_loss: 96876.3984 - val_mae: 96876.3984
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96785.4375 - mae: 96785.4375 - val_loss: 92838.2969 - val_mae: 92838.2969
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 91418.9922 - mae: 91418.9922 - val_loss: 86200.6016 - val_mae: 86200.6016
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 83676.3750 - mae: 83676.3750 - val_loss: 77663.7969 - val_mae: 77663.7969
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 74634.1875 - mae: 74634.1875 - val_loss: 68829.4531 - val_mae: 68829.4531
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 65901.5469 - mae: 65901.5469 - val_loss: 61078.8242 - val_mae: 61078.8242
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 58898.9375 - mae: 58898.9375 - val_loss: 55609.2344 - val_mae: 55609.2344
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 54440.7695 - mae: 54440.7695 - val_loss: 52529.8828 - val_mae: 52529.8828
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 52016.5312 - mae: 52016.5312 - val_loss: 51145.7422 - val_mae: 51145.7422
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50981.8477 - mae: 50981.8477 - val_loss: 50655.6367 - val_mae: 50655.6367
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50583.9492 - mae: 50583.9492 - val_loss: 50530.7656 - val_mae: 50530.7656
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50406.8750 - mae: 50406.8750 - val_loss: 50475.2578 - val_mae: 50475.2578
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50308.8555 - mae: 50308.8555 - val_loss: 50440.5391 - val_mae: 50440.5391
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50240.0508 - mae: 50240.0508 - val_loss: 50400.2695 - val_mae: 50400.2695
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50182.2891 - mae: 50182.2891 - val_loss: 50360.1094 - val_mae: 50360.1094
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 50128.4766 - mae: 50128.4766 - val_loss: 50330.8594 - val_mae: 50330.8594
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50086.0977 - mae: 50086.0977 - val_loss: 50298.9141 - val_mae: 50298.9141
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 50044.9648 - mae: 50044.9648 - val_loss: 50279.6719 - val_mae: 50279.6719
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 50007.5664 - mae: 50007.5664 - val_loss: 50264.0391 - val_mae: 50264.0391
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49979.0742 - mae: 49979.0742 - val_loss: 50239.4805 - val_mae: 50239.4805
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49948.2383 - mae: 49948.2383 - val_loss: 50226.7109 - val_mae: 50226.7109
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49919.6836 - mae: 49919.6836 - val_loss: 50211.8203 - val_mae: 50211.8203
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49894.5078 - mae: 49894.5078 - val_loss: 50196.2422 - val_mae: 50196.2422
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49866.1055 - mae: 49866.1055 - val_loss: 50189.4570 - val_mae: 50189.4570
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49843.8828 - mae: 49843.8828 - val_loss: 50181.5898 - val_mae: 50181.5898
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49826.7617 - mae: 49826.7617 - val_loss: 50171.3633 - val_mae: 50171.3633
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49801.5508 - mae: 49801.5508 - val_loss: 50165.6680 - val_mae: 50165.6680
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49786.7422 - mae: 49786.7422 - val_loss: 50168.1250 - val_mae: 50168.1250
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49764.2422 - mae: 49764.2422 - val_loss: 50157.3438 - val_mae: 50157.3438
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49751.1289 - mae: 49751.1289 - val_loss: 50155.8828 - val_mae: 50155.8828
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49732.0742 - mae: 49732.0742 - val_loss: 50153.3203 - val_mae: 50153.3203
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49715.8047 - mae: 49715.8047 - val_loss: 50152.0469 - val_mae: 50152.0469
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49702.8672 - mae: 49702.8672 - val_loss: 50147.0703 - val_mae: 50147.0703
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49688.9805 - mae: 49688.9805 - val_loss: 50153.3281 - val_mae: 50153.3281
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49672.2578 - mae: 49672.2578 - val_loss: 50145.6602 - val_mae: 50145.6602
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 49656.9570 - mae: 49656.9570 - val_loss: 50145.5703 - val_mae: 50145.5703
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49649.4609 - mae: 49649.4609 - val_loss: 50141.8750 - val_mae: 50141.8750
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49633.9414 - mae: 49633.9414 - val_loss: 50140.8828 - val_mae: 50140.8828
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49623.4062 - mae: 49623.4062 - val_loss: 50128.3672 - val_mae: 50128.3672
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49611.6367 - mae: 49611.6367 - val_loss: 50132.5352 - val_mae: 50132.5352
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49602.6016 - mae: 49602.6016 - val_loss: 50122.9727 - val_mae: 50122.9727
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49591.8477 - mae: 49591.8477 - val_loss: 50132.1289 - val_mae: 50132.1289
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49580.5625 - mae: 49580.5625 - val_loss: 50124.5547 - val_mae: 50124.5547
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49570.5156 - mae: 49570.5156 - val_loss: 50123.4336 - val_mae: 50123.4336
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49563.5508 - mae: 49563.5508 - val_loss: 50133.3516 - val_mae: 50133.3516
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49552.6016 - mae: 49552.6016 - val_loss: 50127.2383 - val_mae: 50127.2383
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49546.6914 - mae: 49546.6914 - val_loss: 50130.7656 - val_mae: 50130.7656
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49537.9062 - mae: 49537.9062 - val_loss: 50130.0000 - val_mae: 50130.0000
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49526.6836 - mae: 49526.6836 - val_loss: 50131.2852 - val_mae: 50131.2852
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49521.3672 - mae: 49521.3672 - val_loss: 50137.4609 - val_mae: 50137.4609
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49511.9141 - mae: 49511.9141 - val_loss: 50134.0352 - val_mae: 50134.0352

In [47]:
#Evaluate the model
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [48]:
#Evaluate model on test data
test_loss,test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50122.9727 - mae: 50122.9727
Test MAE: 50122.97265625

In [49]:
model.save('regression_model.h5')